@import "tailwindcss";

@theme {
  --color-background: rgb(9, 9, 11);
  --color-emphasis: rgb(250, 250, 250);
  --color-basic: rgb(161, 161, 170);
  --color-card: rgb(16, 16, 20);
  --color-primary: rgb(33, 196, 93);
  --color-secondary: rgb(124, 59, 237);
  --font-base: var(--font-base);
  --font-display: var(--font-display);
}


@layer base {
  body {
    @apply font-base bg-background text-basic text-sm;
  }

  h1, h2, h3 {
    @apply font-display font-bold text-emphasis;
  }

  h1 {
    @apply text-5xl;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-xl;
  }
}

@layer components {
  .pale {
    @apply border border-white/15;
  }

  .blurred {
    @apply bg-black/40 backdrop-blur-md rounded-xl;
  }
}